.btn-outline-light:hover {
    color: hsl(0, 94%, 66%) !important;
    border-color: hsl(0, 94%, 66%) !important;
    background: transparent !important;
}
.btn-outline-light:active {
    color: hsl(0, 94%, 66%) !important;
    border-color: hsl(0, 94%, 66%) !important;
    background: transparent !important;
}
.btn-outline-light {
    color:white !important;
    border-color:white !important;
}
.sectionTwo {
    width: 100% !important;
    text-align: center;
}
.backgroundImagesRight {
    position: absolute;
    width: 90vw;
    background-color:  hsl(231, 69%, 60%);
    height: 12em;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    top: 10em;
    z-index: -100;
    right: 0;
}
.backgroundImagesLeft {
    position: absolute;
    width: 50vw;
    background-color:  hsl(231, 69%, 60%);
    height: 18em;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    top: 2em;
    z-index: -100;
    left: 0px;
}
.btn-primary {
    color:white !important;
    font-weight: bold !important;
    border-color:hsl(231, 69%, 60%) !important;
    background: hsl(231, 69%, 60%) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-primary:hover{
    color: hsl(231, 69%, 60%) !important;
    background: transparent !important;
}
.btn-primary:active{
    color: hsl(231, 69%, 60%) !important;
    background: transparent !important;
}
.btn-secondary:hover{
    color: black !important;
    border-color: black !important;
    background: transparent !important;
}
.btn-secondary:active{
    color: black !important;
    border-color: black !important;
    background: transparent !important;
}
.btn-secondary {
    color:black !important;
    font-weight: bold !important;
    border-color:transparent !important;
    background: white !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-tabs {
    border: none !important; 
    width: 100%;
    display: block;
    /* border-bottom: 0.5px solid black !important; */
}
.nav-tabs > * {
    width: 100%;
    border: none !important;
    /* border-bottom: 0.5px solid black !important; */
}
.nav-tabs > * > * {
    width: 100%;
    border: none !important;
    padding-bottom: 20px !important;
    border-bottom: 0.5px solid black !important;
}
.active {
    color: hsl(0, 94%, 66%) !important;
    border-bottom: hsl(0, 94%, 66%) !important;
}
.show > *{
    color: black;
}
.card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-body {
    padding-top: 0 !important;
}
.accordion-button:active {
    color: hsl(0, 94%, 66%) !important;
    background: transparent !important;
}
.form-send{
    display: grid;
}

@media only screen and (min-width: 430px) {
    .backgroundImagesRight {
        width: 90vw;
        top: 10em;
        height: 20em;
    }
    .backgroundImagesLeft {
        width: 90vw;
        top: 4em;
        height: 20em;
        left: -111px;
    }
    .nav-tabs {
        display: flex;
    }

}

@media only screen and (min-width: 500px) {
    .backgroundImagesLeft {
        width: 90vw;
        top: 6em;
        height: 20em;
    }

}

@media only screen and (min-width: 600px) {
    .backgroundImagesRight {
        width: 45vw;
        top: 12em;
        height: 20em;
    }
    .backgroundImagesLeft {
        width: 45vw;
        top: 10em;
        height: 20em;
    }
    .nav-tabs {
        border: none !important; 
        width: 100%;
        display: block;
        /* border-bottom: 0.5px solid black !important; */
    }
    .nav-tabs > * {
        width: 33.3%;
        border: none !important;
        /* border-bottom: 0.5px solid black !important; */
    }
    .nav-tabs > * > * {
        width: 100%;
        border: none !important;
        border-bottom: 0.5px solid black !important;
    }
    .form-send{
        display: flex;
    }
}

