.btn-top-bar:hover {
    color: hsl(0, 94%, 66%) !important;
    border-color: hsl(0, 94%, 66%) !important;
    background: transparent !important;
}
.btn-top-bar:active {
    color: hsl(0, 94%, 66%) !important;
    border-color: hsl(0, 94%, 66%) !important;
    background: transparent !important;
}
.nav-link:hover {
    color: hsl(0, 94%, 66%) !important;
    border-color: hsl(0, 94%, 66%) !important;
    background: transparent !important;
}
.nav-link:active {
    color: hsl(0, 94%, 66%) !important;
    border-color: hsl(0, 94%, 66%) !important;
    background: transparent !important;
}
.btn-outline-light {
    color:hsl(231, 69%, 60%) !important;
    border-color:hsl(231, 69%, 60%) !important;
}
.btn-top-bar {
    margin-left: 20px !important;
    padding: 0px 20px !important;
    font-weight: bold !important;
    color: white !important;
    border-color: hsl(0, 94%, 66%) !important;
    background-color: hsl(0, 94%, 66%) !important;
}
.selec:first-of-type{
    bottom: -55vh;
}
.selec {
    display: block !important;
}
.icon:hover {
    color: hsl(0, 94%, 66%);
}
.icon:active {
    color: hsl(0, 94%, 66%);
}

@media only screen and (min-width: 600px) {
    .selec {
        display: flex !important;
    }
    
}